<footer class="site-footer bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Mestowoot Media Services- Your trusted source for news.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'news:home' %}" class="text-light">Home</a></li>
                    <li><a href="{% url 'about' %}" class="text-light">About</a></li>
                    <li><a href="{% url 'contact' %}" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Info</h5>
                <address>
                    <p><i class="fas fa-phone"></i> +254 123 456 789</p>
                    <p><i class="fas fa-envelope"></i> info@mestowotnews.com</p>
                </address>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; {% now "Y" %} Mestowoot Media Services. All rights reserved.</p>
        </div>
    </div>
</footer>